.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 8px 16px;
}

.pageLink {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageLink:hover {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

#active {
  background-color: #3277F6;
  color: white;
  border-radius: 5px;
}
