.card {
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.cardTop {
  display: flex;
  justify-content: space-around;
}

.photoContainer {}

.generalInfo {
  display: flex;
  flex-direction: column;
}

.pageType {
  color: grey;
}

.cardIcons {
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.details {
  flex-direction: column;
}

.datailsLine {
  flex-direction: row;
  justify-content: space-between;
}

.detailsName {
  color: grey;
}

.detailsNumbers {}

.infoIcon {}

.cardBtm {
  flex-direction: row;
  justify-content: space-between;
}

.likeBtn {
  border-radius: 4rem;
  color: blue;
  border-style: solid;
  border: 1rem;
  border-color: blue;
}

.likeBtnClicked {
  border-radius: 4rem;
  color: white;
  background-color: blue;
}

.price {
  font-weight: bolder;
}
