.card {
  box-sizing: border-box;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 368px;
  box-shadow: 0px 8px 18px rgba(101, 115, 130, 0.14);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #FFFF;
  padding: 1rem;
  padding-top: 1.8rem;
}

.cardTop {
  display: flex;
  justify-content: space-around;
}

.generalInfo {
  display: flex;
  flex-direction: column;
}

.generalInfo h3 {
  margin: .1rem;
  color: #2B2B30;
}

.pageType {
  color: #AAAAAC;
  margin: .1rem;
  font-size: 90%;
}

.cardIcons {
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  margin: .2rem
}

.cardIcons img:hover {
  cursor: pointer;
}

.details {
  flex-direction: column;
}

.oneLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .9rem;
}

.detailsName {
  color: #AAAAAC;
  display: flex;
}

.detailsNumbers {
  color: #565659;
}

.infoIcon {}

.cardBtm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likeBtn {
  border-radius: 8px;
  color: #3277F6;
  border-style: solid;
  border: 1rem;
  border-color: #3277F6;
  width: 10rem;
  height: 2rem;
}

.likeBtnClicked {
  border-radius: 8px;
  border: 1px solid #3277F6;
  color: white;
  background-color: #3277F6;
  width: 10rem;
  height: 2rem;
}

.likeBtn:hover {
  cursor: pointer;
}

.likeBtnClicked:hover {
  cursor: pointer;
}

.price {
  font-weight: bolder;
}


@media (max-width: 768px) {

  .card {
    margin-left: auto;
    margin-right: auto;
  }

}
