.App {
  text-align: center;
  display: flex;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

#lock {
  overflow: hidden;
}

.active {
  background: linear-gradient(122.7deg, #669BFB 0%, #3277F6 100%);
  border-radius: 10px;
}


.active span {
  color: white;
}

@media (max-width: 768px) {

  .App {
    display: flex;
    flex-direction: column;
  }

}
