.App {
  text-align: center;
  display: flex;
  font-size: 13px;
  /* font-family: 'SF Pro Text'; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.active {
  background: linear-gradient(122.7deg, #669BFB 0%, #3277F6 100%);
  border-radius: 10px;
  color: white;
}

.active span {
  background: linear-gradient(122.7deg, #669BFB 0%, #3277F6 100%);
  border-radius: 10px;
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
